body {
    padding: 0px;
    margin: 0px;
    min-width: 900px;/*Larghezza minima della pagina web*/
    font-family: 'Open Sans', sans-serif;
}


/******INIZIO HEADER******/

/*
 * Stile contenitore superiore che include il logo dell'azienda ed il menu dei gruppi (header)
 */
body>header {
    font-size: 0px;
    height: 70px;/*Altezza contenitore superiore (Dovrà contenere: NomeAzienda e Menu Gruppi)*/
    background: #f1f1f1;/*Colore sfondo*/
}

body>header>* {
    display: inline-block;
    height: inherit;/*Altezza ereditata dal tag padre (header)*/
    line-height: 70px;/*Centra il testo verticalmente*/
    font-size: 12px;
    vertical-align: top;
    padding: 0px 10px;
}

/*
 * Stile contenitore logo
 */
header>#logo {
    background: #b90504;/*Colore sfondo contenitore logo*/
    width: 20%;
    min-width: 250px;
    color: #fff;/*Colore testo: Nome Azienda*/
    font-family: 'Carter One', cursive;/*Famiglia del font -Importato da GoogleFont-*/
    font-size: 25px;/*Dimensione del font*/
    text-align: center;/*Centra il testo orizzontalmente*/
    text-shadow: 1px 1px 1px #000;/*Testo ombreggiato*/
    padding: 0px;/*Annulla i margini interni*/
}

/*
 * Stile contenitore lista collegamenti
 */
header ul, div#page>aside ul {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 20;
    list-style-type: none;
}

/*
 * Stile elemento nella lista collegamenti
 */
header ul>li {
    display: inline-block;
}

/*
 * Stile collegamento(link) nel menu delle icone
 */
header>.icoMenu>ul>li>a:link, header>.icoMenu>ul>li>a:visited {
    display: block;
    color: #9d9d9d;
    font-size: 25px;
    padding: 0px 10px;
    text-decoration: none;/*Toglie qualsiasi decorazione al collegamento (default sottolineato)*/
    transition: color 500ms; /*La proprietà color cambia in 500ms**/
}

/*
 * Stile collegamento(link) nel menu delle icone quando l'utente si posiziona con il mouse sopra
 */
header>.icoMenu>ul>li>a:hover {
    color: #b90504;
}

/*
 * Stile menu dei gruppi
 */
header>nav {
    float: right;
}

header>nav ul>li {
    position: relative;
}

/*
 * Stile collegamenti nel menu dei gruppi
 */
header>nav a:link, header>nav a:visited {
    display: block;
    color: #9d9d9d;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

header>nav>ul>li:hover>a:link, header>nav>ul>li:hover>a:visited, header>nav>ul>li>a:hover {
    background: #b90504;
    color: #fff;
}

/*
 * Stile sub-menu: quando il cursore non è posizionato sull'elemento padre il menu è nascosto
 */
header>nav ul>li>ul {
    display: none;
}

/*
 * Stile sub-menu: quando il cursore è posizionato sull'elemento padre il menu viene mostrato
 */
header>nav ul>li:hover>ul {
    position: absolute;
    display: block;
    right: 0px;
}

/*
 * Stile elemento sub-menu
 */
header>nav ul ul>li {
    display: block;
    line-height: normal;
    min-width: 200px;/*Larghezza minima del sub-menu*/
}

/*
 * Stile sub-menu di grado >1 (Cursore posizionato sull'elemento padre)
 */
header>nav ul>li:hover>ul ul {
    right: 100%;
    top: 0px;
}

/*
 * Stile collegamenti nei sub-menu
 */
header>nav ul ul>li>a:link, header>nav ul ul>li>a:visited {
    background: #b90504;
    color: #fff;
    font-size: 10px;
    padding: 15px 10px;
    white-space: nowrap;
}

header>nav ul ul>li:hover>a:link {
    background: #990100;
}

/*
 * Stile icona arrow nei sub-menu
 */
header>nav ul ul>li i {
    color: #ffffff6e;
}

/******FINE HEADER******/


/******INIZIO BODY******/

/*
 * Stile contenitore padre che include il tag aside e main
 */
div#page {
    display: flex;
    align-items: stretch;
    font-size: 0px;
    text-align: center;
}

div#page>* {
    display: inline-block;/*I figli di '#page' vengono affiancati uno accanto all'altro*/
    font-size: 12px;
    text-align: left;
    min-height: 500px;/*Definisce un'altezza minima in futuro andrà tolta*/
}

/*
 * Stile contenitore laterale di colore rosso
 */
div#page>aside {
    background-image: linear-gradient(#B90504, #990100);
    color: #fff;
    width: 20%;
    min-width: 250px;
    transition: margin-left 500ms;
}

/*
 * Stile contenitore con le informazioni sull'utente nel contenitore laterale
 */
#userInfo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
}

#userInfo>span {
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

/*
 * Stile elemento del menu utente nel contenitore laterale
 */
div#page>aside ul>li {
    font-size: 12px;
    padding-left: 10px;
}

/*
 * Stile elemento titolo nel menu dell'utente
 */
div#page>aside ul>li.title {
    font-size: 11px;
    font-weight: bold;
    padding: 20px 10px 5px 20px;
    text-transform: uppercase;
}

/*
 * Stile icona nel menu utente
 */
div#page>aside ul>li i {
    font-size: 16px;
    padding-right: 10px;
    vertical-align: text-bottom;
    transition: padding 500ms;
}

div#page>aside ul>li:hover i{
    padding-right: 20px;
}

/*
 * Stile collegamento nel menu utente
 */
div#page>aside ul>li>a:link, div#page>aside ul>li>a:visited {
    display: block;
    color: #ffffff9e;
    padding: 10px;
    text-decoration: none;
    transition: color 500ms;
}

div#page>aside ul>li>a:hover {
    color: #fff;
}

/*
 * Stile contenitore principale della pagina web
 */
div#page>main {
    width: calc( 75% - 20px );
    flex-grow: 1;
    margin: auto;
    padding: 20px; /*Bordo interno*/
}

/*
 * Stile tabella
 */
div#page>main>table {
    width: 100%;
    border: 10px;
    border-collapse: collapse;
    font-size: 13px;
}

div#page>main>table th, tr, td {
    padding: 9px 12px;
}

div#page>main>table th {
    background-color: #B90504;
    color: #fff;
}

div#page>main>table tr:nth-child(odd){
  background-color: #E8E8E8;
}

div#page>main>table tr:nth-child(even){
  background-color: #F6F6F6;
}

/*
 * Stile dei bottoni
 */
div#page>main>button {
	background-image: linear-gradient( #B90504, #990100 );
	color: white;
	border: 1px solid #B90504;
	border-radius: 5px;
	font-size: 15px;
}

div#page>main>button:hover {
	border: 1px solid red;
}

div#page>main>button:active {
	background-image: linear-gradient( #990100, #B90504 );	
	border: 1px solid red;
}

/*
 * Stile della form 
 */
div#page>main>form {
	border: 1px solid #b0b0b0;
	border-radius: 5px;
	width: 60%;
	padding-left: 20px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}


/*
 * Stile dei riquadri di input di testo
 */
div#page>main>form>input[type=text] {
	width: 20%;
	margin: 8px 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

div#page>main>form>input[type=text]:hover {
	border: 1px solid #555555;
}

div#page>main>form>input[type=text]:focus{
	border: 1px solid #555555;
}

/*
 * Stile dei campi di input password
 */
div#page>main>form>input[type=password] {
	width: 20%;
	margin: 8px 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

div#page>main>form>input[type=password]:hover {
	border: 1px solid #555555;
}

div#page>main>form>input[type=password]:focus{
	border: 1px solid #555555;
}


/*
 * Stile dei menù di selezione 
 */
div#page>main>form>select{
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div#page>main>form>select:hover{
	border: 1px solid #555555;
}

div#page>main>form>select:focus{
	border: 1px solid #555555;
}

/*
 * Stile delle aree di testo 
 */
div#page>main>form>textarea{
	resize: vertical;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	width: 30%;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
	
div#page>main>form>textarea:hover {
	border: 1px solid #555555;
}

div#page>main>form>textarea:focus{
	border: 1px solid #555555;
}

/*
 * Stile dei label 
 */
div#page>main>form>label {
	width: 20%;
	color: #B90504;
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/*
 * Stile dei fieldset 
 */
div#page>main>form>fieldset {
	width: 30%;
	padding: 0 0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div#page>main>form>fieldset:hover {
	border: 1px solid #555555;
}

div#page>main>form>fieldset:active {
	border: 1px solid #555555;
}


/*
 * Stile dei bottoni submit della form
 */
div#page>main>form>input[type=submit]  {
	background-image: linear-gradient( #B90504, #990100 );
	color: white;
	border: 1px solid #B90504;
	border-radius: 5px;
	font-size: 15px;
}


div#page>main>form>input[type=submit]:hover {
	border: 1px solid red;
}

div#page>main>form>input[type=submit]:active {
	background-image: linear-gradient( #990100, #B90504 );	
	border: 1px solid red;
}

/*
 * Stile dei bottoni reset della form
 */
div#page>main>form>input[type=reset]  {
	background-image: linear-gradient( #B90504, #990100 );
	color: white;
	border: 1px solid #B90504;
	border-radius: 5px;
	font-size: 15px;
}


div#page>main>form>input[type=reset]:hover {
	border: 1px solid red;
}

div#page>main>form>input[type=reset]:active {
	background-image: linear-gradient( #990100, #B90504 );	
	border: 1px solid red;
}

/*
 * Stile dei bottoni dentro la form
 */
div#page>main>form>button {
	background-image: linear-gradient( #B90504, #990100 );
	color: white;
	border: 1px solid #B90504;
	border-radius: 5px;
	font-size: 15px;
}

div#page>main>form>button:hover {
	border: 1px solid red;
}

div#page>main>form>button:active {
	background-image: linear-gradient( #990100, #B90504 );
	border: 1px solid red;	
}

/******FINE BODY******/


/******INIZIO FOOTER******/

/*
 * Stile contenitore inferiore (footer)
 */
body>footer {
    background: #f1f1f1;
    color: #777;
    font-size: 11px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

/******FINE FOOTER******/

/******INIZIO MESSAGGI******/
/*
 * Stile contenitore messaggio
 */
.message-box {
    position: relative;
    width: 100%;
    color: #fff;
    margin: 10px 0px;
    display: table;
}

.message-box div {
    display: table-cell;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

/*
 * Stile testo messaggio
 */
.message-box>.message-text {
    font-style: italic;
    border-radius: 0px 3px 3px 0px;
}

/*
 * Stile bottone per chiudere il contenitore del messaggio
 */
.message-box button {
    background: #00000050;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    opacity: 0;
    margin: 3px;
    padding: 0px;
    border: none;
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
    transition: opacity 500ms;
    cursor: pointer;
}

.message-box button:focus {
    outline: none;
}

.message-box:hover button {
    opacity: 1;
}

/*
 * Stile icona messaggio
 */
.message-box>.message-icon {
    position: relative;
    width: 40px;
    font-size: 25px;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 1px 0px 0px #0000002e;
}

.message-box>.message-icon:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: -8px;
    margin-top: -8px;
    transform: rotate(45deg);
    box-shadow: 1px -1px 0px #0000002e;
}


/*
 * Stile colori dei contenitori messaggio
 */
/*Messaggio di errore*/
.error>.message-icon, .error>.message-icon:after {
    background-color: #E53935;
}

.error>.message-text {
    background-color: #B71C1C;
}

/*Messaggio di successo*/
.success>.message-icon, .success>.message-icon:after {
    background-color: #00b33f;
}

.success>.message-text {
    background-color: #06862f;
}

/*Messaggio di informazione*/
.info>.message-icon, .info>.message-icon:after {
    background-color: #00aafb;
}

.info>.message-text {
    background-color: #0080bc;
}

/*Messaggio di warnign*/
.warning>.message-icon, .warning>.message-icon:after {
    background-color: #FDD835;
}

.warning>.message-text {
    background-color: #F9A825;
}
/******FINE MESSAGGI******/


/**FORM LOGIN*/

/*
 * Stile form per il login
 */
div#page>aside>form {
    font-size: 0px;
    padding: 0px 10px;
}

/*
 * Stile etichetta per i campi della form per il login
 */
div#page>aside>form>label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

/*
 * Stile campi della form per il login
 */
div#page>aside>form>input:focus {
    outline: 0;
}

div#page>aside>form>input[type=text], div#page>aside>form>input[type=password] {
    width: 98%;
    padding: 10px 1%;
    border: none;
    border-radius: 3px;
}

div#page>aside>form>input[type=submit], div#page>aside>form>button {
    background: #333333;
    width: calc( 50% - 10px );
    margin-top: 15px;
    padding: 10px 0px;
    color: #E8E8E8;
    font-weight: bold;
    border-bottom: none;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-radius: 3px;
    box-shadow: 0px 2px 0px #222, 0px 3px 0px #333;
    text-transform: uppercase;
    cursor: pointer;
}

div#page>aside>form>input[type=submit] {
    margin-right: 10px;
}

div#page>aside>form>button {
    margin-left: 10px;
}

div#page>aside>form>input[type=submit]:hover, div#page>aside>form>button:hover {
    color: #fff;
    box-shadow: 0px 3px 0px #333;
}
